
	<ul id="<%= liststyle %>">
		<li><%= store.shoppingcenter %></li>
		<li><%= store.street %></li>
		<li><%= store.city %>, <%= store.state %>  <%= store.zip %></li>
		<li><%= store.phone %></li>
		<li><div id="map_canvas_<%= snapshot1_counter %>" style="width: 100px; height: 100px"></div></li>
	</ul>
