<p>
  <b>Phone:</b>
  <%=h @store.phone %>
</p>

<p>
  <b>Street:</b>
  <%=h @store.street %>
</p>

<p>
  <b>Shoppingcenter:</b>
  <%=h @store.shoppingcenter %>
</p>

<p>
  <b>City:</b>
  <%=h @store.city %>
</p>

<p>
  <b>State:</b>
  <%=h @store.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @store.zip %>
</p>

<p>
  <b>Lat:</b>
  <%=h @store.lat %>
</p>

<p>
  <b>Lon:</b>
  <%=h @store.lon %>
</p>

<p>
  <b>Name:</b>
  <%=h @store.name %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>