<h1>Listing promos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start</th>
    <th>End</th>
    <th>Description</th>
  </tr>

<% @promos.each do |promo| %>
  <tr>
    <td><%=h promo.title %></td>
    <td><%=h promo.start %></td>
    <td><%=h promo.end %></td>
    <td><%=h promo.description %></td>
    <td><%= link_to 'Show', promo %></td>
    <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
    <td><%= link_to 'Destroy', promo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New promo', new_promo_path %>